body * {
    box-sizing: border-box;    
}

body {
    font-family: Arial, Helvetica, sans-serif;  
}
section {
    border: solid 1px #CCC; 
    width: 50vh;
    height: 70vh;
    margin: 20px;
    padding-left: 15px;
}

img {
    margin-left: -15px;
}
/*
Add some style blocks below this line to style the card.
*/
